extends base

include _tourCard.pug
include _reviewCard.pug

mixin navItem(link, text, icon, active = false)
    li(class= active ? 'side-nav--active' : '')
        a(href=link)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
        .user-view
            // User menu with navigation
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me', 'Settings', 'settings')
                    +navItem('/my-tours', 'My bookings', 'briefcase')
                    +navItem('/my-reviews', 'My reviews', 'star', true)
                    +navItem('#', 'Billing', 'credit-card')
                if user.role === 'admin'
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('#', 'Manage tours', 'map')
                            +navItem('#', 'Manage users', 'users')
                            +navItem('#', 'Manage reviews', 'star')
                            +navItem('#', 'Manage bookings', 'briefcase')

            // Main content area
            .user-view__content
                .container
                    h3.heading-tertirary My Bookings & Reviews

                    // Loop through all booked tours
                    each tour in tours
                        +tourCard(tour)

                        if tour.reviews && tour.reviews.length > 0
                            .tour__reviews
                                h4 Your Reviews for this Tour:
                                each review in tour.reviews
                                    +reviewCard(review)
                        else
                            p.no-reviews You haven't reviewed this tour yet.
